[Interface]
PrivateKey = {{ wg_private_key.content | b64decode }}
Address = {{ wg_ip }}/24
ListenPort = 51820

{% for client in clients %}
[Peer]
PublicKey = {{ client.public_key }}
AllowedIPs = {{ client.ip }}/32
Endpoint = {{ ansible_host }}:51820
{% endfor %}
