[Interface]
PrivateKey = {{ wg_private_key.content | b64decode }}
Address = {{ wg_ip }}/32

[Peer]
PublicKey = {{ hostvars[groups.wireguard_servers[0]].wg_pub_key.content | b64decode }}
Endpoint = {{ hostvars[groups.wireguard_servers[0]].ansible_host }}:51820
AllowedIPs = {{ wg_allowed_ips }}
